<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.DoctorRepository">

    <!-- 특정 doctorId로 의사 정보 조회 -->
    <select id="selectOne" parameterType="java.lang.String" resultType="edu.sm.app.dto.DoctorDto">
        SELECT * FROM doctor WHERE doctor_id = #{doctorId}
    </select>

    <!-- 모든 의사 정보 조회 -->
    <select id="select" resultType="edu.sm.app.dto.DoctorDto">
        SELECT * FROM doctor
    </select>

    <!-- 새로운 의사 정보 추가 -->
    <insert id="insert" parameterType="edu.sm.app.dto.DoctorDto">
        INSERT INTO doctor (doctor_id, doctor_pwd, doctor_number, doctor_name, doctor_age, doctor_email, doctor_img, career, ancestry, society, subject_name)
        VALUES (#{doctorId}, #{doctorPwd}, #{doctorNumber}, #{doctorName}, #{doctorAge}, #{doctorEmail}, #{doctorImg}, #{career}, #{ancestry}, #{society}, #{subjectName})
    </insert>

    <!-- 기존 의사 정보 수정 -->
    <update id="update" parameterType="edu.sm.app.dto.DoctorDto">
        UPDATE doctor
        SET doctor_pwd = #{doctorPwd},
            doctor_number = #{doctorNumber},
            doctor_name = #{doctorName},
            doctor_age = #{doctorAge},
            doctor_email = #{doctorEmail},
            doctor_img = #{doctorImg},
            career = #{career},
            ancestry = #{ancestry},
            society = #{society},
            subject_name = #{subjectName}
        WHERE doctor_id = #{doctorId}
    </update>

    <!-- 특정 doctorId로 의사 정보 삭제 -->
    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM doctor WHERE doctor_id = #{doctorId}
    </delete>

</mapper>
