<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.DoctorRepository">

    <!-- 특정 doctorId로 의사 정보 조회 -->
    <select id="selectOne" parameterType="String" resultType="doctorDto">
        SELECT * FROM doctor
        WHERE doctor_id = #{doctorId}
    </select>

    <!-- 모든 의사 정보 조회 -->
    <select id="select" resultType="doctorDto">
        SELECT * FROM doctor
    </select>

    <!-- 새로운 의사 정보 추가 -->
    <insert id="insert" parameterType="doctorDto">
        INSERT INTO doctor (doctorId, doctorPwd, doctorNumber, doctorName, doctorAge, doctorEmail, doctorImg, career, ancestry, society, subjectName)
        VALUES (#{doctorId}, #{doctorPwd}, #{doctorNumber}, #{doctorName}, #{doctorAge}, #{doctorEmail}, #{doctorImg}, #{career}, #{ancestry}, #{society}, #{subjectName})
    </insert>

    <!-- 기존 의사 정보 수정 -->
    <update id="update" parameterType="doctorDto">
        UPDATE doctor
        SET doctorPwd = #{doctorPwd}, doctorNumber = #{doctorNumber}, doctorName = #{doctorName}, doctorAge = #{doctorAge},
            doctorEmail = #{doctorEmail}, doctorImg = #{doctorImg}, career = #{career}, ancestry = #{ancestry},
            society = #{society}, subjectName = #{subjectName}
        WHERE doctorId = #{doctorId}
    </update>

    <!-- 특정 doctorId로 의사 정보 삭제 -->
    <delete id="delete" parameterType="doctorDto">
        DELETE FROM doctor WHERE doctorId = #{doctorId}
    </delete>

</mapper>
