<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.MedicalRecordsRepository">

    <select id="selectOne" parameterType="String" resultType="medicalRecordsDto">
        SELECT * FROM medical_records
        WHERE doctor_id = #{doctorId}
    </select>

    <select id="select" resultType="counselDto">
        SELECT * FROM medical_records
    </select>


    <delete id="delete" parameterType="counselDto">
        DELETE FROM medical_records WHERE medical_records_id = #{counselId}
    </delete>

</mapper>
