<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.UserRepository">

    <!-- 특정 userId로 사용자 정보 조회 -->
    <select id="selectOne" parameterType="String" resultType="userDto">
        SELECT userId, userPwd, userEmail, userName, userAddress, userAge, userSex, diseaseStatus, userNumber
        FROM user
        WHERE userId = #{userId}
    </select>

    <!-- 모든 사용자 정보 조회 -->
    <select id="select" resultType="userDto">
        SELECT userId, userPwd, userEmail, userName, userAddress, userAge, userSex, diseaseStatus, userNumber
        FROM user
    </select>

    <!-- 의사 ID에 따른 가장 최근 예약 또는 상담 정보를 조회 -->
    <select id="selectAppointments" parameterType="String" resultType="appointmentDto">
        WITH CombinedRecords AS (
            SELECT u.user_name, u.user_age, u.user_sex, u.disease_status, u.user_number,
                   '예약' AS appointment_type, ma.appointment_date AS date,
            ROW_NUMBER() OVER (PARTITION BY u.user_name ORDER BY ma.appointment_date DESC) AS rn
        FROM medical_appointment AS ma
            JOIN user AS u ON ma.user_id = u.user_id
        WHERE ma.doctor_id = #{doctorId}

        UNION ALL

        SELECT u.user_name, u.user_age, u.user_sex, u.disease_status, u.user_number,
               '상담' AS appointment_type, c.counsel_date AS date,
               ROW_NUMBER() OVER (PARTITION BY u.user_name ORDER BY c.counsel_date DESC) AS rn
        FROM counsel AS c
            JOIN user AS u ON c.user_id = u.user_id
        WHERE c.doctor_id = #{doctorId}
            ),
            LatestRecords AS (
        SELECT user_name, user_age, user_sex, disease_status, user_number,
            appointment_type, date,
            ROW_NUMBER() OVER (PARTITION BY user_name ORDER BY date DESC) AS user_recent
        FROM CombinedRecords
            )

        SELECT user_name, user_age, user_sex, disease_status, user_number, appointment_type, date
        FROM LatestRecords
        WHERE user_recent = 1
        ORDER BY date DESC
    </select>

</mapper>
