<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.UserRepository">

    <!-- 특정 userId로 사용자 정보 조회 -->
    <select id="selectOne" parameterType="String" resultMap="userDto">
        SELECT userId, userPwd, userEmail, userName, userAddress, userAge, userSex, diseaseStatus, userNumber
        FROM user
        WHERE userId = #{userId}
    </select>

    <!-- 모든 사용자 정보 조회 -->
    <select id="select" resultMap="userDto">
        SELECT userId, userPwd, userEmail, userName, userAddress, userAge, userSex, diseaseStatus, userNumber
        FROM user
    </select>

    <!-- 새로운 사용자 정보 추가 -->
    <insert id="insert" parameterType="edu.sm.app.dto.UserDto">
        INSERT INTO user (userId, userPwd, userEmail, userName, userAddress, userAge, userSex, diseaseStatus, userNumber)
        VALUES (#{userId}, #{userPwd}, #{userEmail}, #{userName}, #{userAddress}, #{userAge}, #{userSex}, #{diseaseStatus}, #{userNumber})
    </insert>

    <!-- 기존 사용자 정보 수정 -->
    <update id="update" parameterType="edu.sm.app.dto.UserDto">
        UPDATE user
        SET userPwd = #{userPwd}, userEmail = #{userEmail}, userName = #{userName}, userAddress = #{userAddress},
            userAge = #{userAge}, userSex = #{userSex}, diseaseStatus = #{diseaseStatus}, userNumber = #{userNumber}
        WHERE userId = #{userId}
    </update>

    <!-- 특정 userId로 사용자 정보 삭제 -->
    <delete id="delete" parameterType="edu.sm.app.dto.UserDto">
        DELETE FROM user WHERE userId = #{userId}
    </delete>

</mapper>
